FORMAT: 1A
HOST: http://ibis.ibisoft.cz/

# Ibis

API pro práci s pacientem

## Ping [/ping]

### Ověření dostupnosti API  [GET]

+ Response 200 (application/json)

        {
            "status": "OK"
        }

## Pacienti [/pacient/{pacient_id}]

### Načtení pacienta [GET]

Vrací detail pacienta.

Tato akce vrací kód 200 a JSON objekt reprezentující pacienta.

+ Parameters
    + pacient_id (guid) - ID pacienta
    
+ Response 200 (application/json)
    
    + Schema
    
            {
                "$schema": "http://json-schema.org/draft-04/schema#",
                "description": "Nacteni pacienta",
                "type": "object",
                "properties": {
                    "CP": {
                        "type": "string",
                        "description": "Cislo pojistence",
                        "pattern": "^[0-9]{9,10}$"
                    }
                }
            }
            
    + Body
            
            {
                "CP": "85030955664"
            }

       

## Questions Collection [/questions]

### List All Questions [GET]

+ Response 200 (application/json)

        [
            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 2048
                    }, {
                        "choice": "Python",
                        "votes": 1024
                    }, {
                        "choice": "Objective-C",
                        "votes": 512
                    }, {
                        "choice": "Ruby",
                        "votes": 256
                    }
                ]
            }
        ]

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }